
#box{
      background-color:lightgreen;
      color:seagreen;
      height:200px ;
      width: 300px;
      border: 2px;
      border-color:darkgreen ;
      border-radius: 10px;
      margin: 40px;
}

#responsive-box{
      background-color: lightgreen;
      color:seagreen;
      height: 50%;
      width: 50%;
      border: 2px;
      border-color: darkgreen;
      border-radius: 10px;
      margin: 40px;
}

#padded-text{
      background-color: lightgreen;
      color:seagreen;
      padding: 20px 20px 20px 20px;
      border: 2px;
      border-radius: 10px;
      border-color: darkgreen;
      margin: 40px;
}

#custom-padding{
      background-color: lightgreen;
      color: seagreen;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      margin: 40px;
      border: 2px;
      border-color: darkgreen;
      border-radius: 10px;
}

#border-box{
      background-color: lightgreen;
      color:seagreen;
      border: solid black 2px;
      border-radius: 10px;
      margin: 40px;
}

#rounded-border{
      background-color: lightgreen;
      color:seagreen;
      border: dotted 3px red;
      border-radius: 15px;
      margin: 40px;
}

#margin-text{
      background-color: lightgreen;
      color:seagreen;
      border-color:darkgreen;
      border: 2px;
      border-radius: 10px;
      margin: 30px;
}

#custom-margin{
      background-color: lightgreen;
      color:seagreen;
      border-color:darkgreen ;
      border: 2px;
      border-radius: 10px;
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: 40px;
      margin-right: 40px;
}

#inline-element{
      background-color: lightgreen;
      color:seagreen;
      border-color:darkgreen ;
      border: 2px;
      border-radius: 10px;
      display: inline;
}

#block-element{
      background-color: lightgreen;
      color: seagreen;
      height: 40px;
      width: 40px;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      margin: 40px;
      border: 2px;
      border-color: darkgreen;
      border-radius: 10px;
      display: block;
}
#inline-block-element{
      background-color: lightgreen;
      color: seagreen;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      margin: 40px;
      border: 2px;
      border-color: darkgreen;
      border-radius: 10px;
      display: inline-block;
}

#hidden-element{
      background-color: lightgreen;
      color: seagreen;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      margin: 40px;
      border: 2px;
      border-color: darkgreen;
      border-radius: 10px;
      display: none;
}

#visible-element{
      background-color: lightgreen;
      color: seagreen;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      margin: 40px;
      border: 2px;
      border-color: darkgreen;
      border-radius: 10px;
      visibility: visible;
}

#invisible-element{
      background-color: lightgreen;
      color: seagreen;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      margin: 40px;
      border: 2px;
      border-color: darkgreen;
      border-radius: 10px;
      visibility:hidden ;  
}

#tranparent-box{
      background-color: rgba(0, 0, 255,0.5);
      color: seagreen;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      margin: 40px;
      border: 2px;
      border-color: darkgreen;
      border-radius: 10px;
}
